.gradle
!gradle/wrapper/gradle-wrapper.jar
!/src/main//build/
!/src/test//build/
.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!bin/.gitkeep
!/src/main//bin/
!/src/test//bin/
.log
##.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!/src/main//out/
!/src/test//out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
backend/ssafy-web.log
backend/ssafy-web.log~774ee30848197fd51a4cec735c5e088a78af71b9
.env.local
*.gz
